/* .footer{
    height: 30%;
    width: 100%;
    background-color: darkslategray;
    color: white;
}
li{
    list-style: none;
    display: inline-block;
    padding: 7px;
}
.icon{
    color: white;
    font-size: 1em;
    text-align: center;
}
.left {
    /* padding: 20px; */
    /* margin-top: 2em;
    margin-left: 1em;

}
.bt{
    margin-top: 5em;
    margin-left: 1em;
    text-align: center;
}
.copyright{
   
    margin-top: 9em;
    margin-left: 3em;
}  */

#contact{
    background-image: url(../../../public/assets/img/overlay-bg.jpg)
}
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.footer-paralax {
    padding: 4rem 0 0 0;
  }
  
  .contact-mf {
    margin-top: 4rem;
  }
  @media (min-width: 767px) {
    .contact-mf .box-pl2 {
      margin-top: 3rem;
      padding-left: 0rem;
    }
  }
  
  .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
  .php-email-form input, .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
  .php-email-form input:focus, .php-email-form textarea:focus {
    border-color: #0078ff;
  }
  .php-email-form input {
    padding: 10px 15px;
  }
  .php-email-form textarea {
    padding: 12px 15px;
    margin-bottom: 0;
  }
  .php-email-form button[type=submit] {
    background: #0078ff;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
  }
  .php-email-form button[type=submit]:hover {
    background: #3393ff;
  }
  
  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
}
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
    text-align: center;
    color: #fff;
    padding: 25px 0;
    background: rgb(38, 24, 71);
  }
  footer .copyright {
    margin-bottom: 0.3rem;
  }
  footer .credits {
    margin-bottom: 0;
  }
  footer .credits a {
    color: #fff;
  }